body {
    background-color: teal;
    text-align: center;
}
h1 {
    background-color: tomato;
    text-align: inherit ;
}
h2 {
    color: blue;
}
.flag1 {
    margin-left: -500px;
    margin-top: -50px;
}
.flag2 {
    margin-left: -500px;
    margin-top: -25px;
}
.food1 {
 font-weight: 2;
 color: ivory;
}
.food2 {
    text-shadow: lavender;
    color: ivory;
}
.food3 {
    color: ivory;
    text-shadow: lavender;
}
.passions {
    color: lightcoral;
}