.item {
    background: blue;
    color: white;
    text-align: center;
    width: 150px;
    height: 50px;
    margin: 5px;
}
.container {
    display: flex;
}
.column {
    flex-direction: column;

}
.wrap {
    flex-wrap: wrap;
}